<div class="post" style="width: 18rem;">
  <div class="post-body">
    <h5 class="post-title">Bootstrap</h5>
    <p class="post-text">This is an example Blog post, click below to explore this post further</p>
    <%= link_to "View the full Post", show_path(id: 1), class: "btn btn-primary" %>
  </div>
</div>
