<div class="post" style="width: 18rem;">
  <div class="post-body">
    <h5 class="post-title">Bootstrap</h5>
    <p class="post-text">This is an example Blog post, click below to explore this post further</p>
    <a href="#" class="btn btn-primary">View the full Post</a>
  </div>
</div>
