<div class="py-3 center mx-auto">
  <div class="bg-white px-4 py-5 rounded-lg shadow-lg text-center w-48">
    <div class="mb-4">
      <img class="w-auto mx-auto rounded-full object-cover object-center" /><p>Avatar Upload</p>
    </div>
    <label class="cursor-pointer mt-6">
      <input type='file' class="hidden" :multiple="multiple" :accept="accept" />
    </label>
  </div>
</div>

<div class="About the Blog">
  <p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p>
  <p>About Section Coming Soon...</p>
  <p class="placeholder-wave">
    <span class="placeholder col-12"></span>
  </p>
</div>
