<div class="jumbotron">
  <h1 class="font-bold text-4xl text-blue-500">Hello there!!</h1>
  <p class="lead text-1xl text-blue-500">Welcome to the blog, I hope you enjoy the welcoming atmosphere!</p>
  <hr class="my-4">
</div>

<%= render partial: "pages/post_previews" %>
