<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Latest Blog Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Archive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Not Available</a>
        </li>
      </ul>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Featured Blog Posts</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Example 1</a></li>
          <li><a class="dropdown-item" href="#">Example 2</a></li>
          <li><a class="dropdown-item" href="#">Example 3</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <li><a class="nav-link" <%= link_to 'Create New Post', new_post_path %></a></li>
        <li><a class="nav-link" <%= link_to "About the Blog", about_path %></a></li>
        <li><a class="nav-link" <%= link_to "Blog Index", posts_path %></a></li>
      <li class="nav-item">
        <a class="nav-link disabled">Not Available</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="font-bold text-4xl text-blue-500">Hello there!!</h1>
  <p class="lead text-1xl text-blue-500">Welcome to the blog, I hope you enjoy the welcoming atmosphere!</p>
  <hr class="my-4">
</div>

<%= render partial: "pages/post_previews" %>
