<div class="container">
  <%= link_to sanitize("&larr; Back to posts"), index_path %>

   <div class="header">
    <h1>New post</h1>
   </div>

  <%= turbo_frame_tag "first_turbo_frame" do %>
    <%= render 'form' %>
  <% end %>
</div>
